<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href=" https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>Email Spam Classifier</title>
</head>
<style>
    h3{
    color:red}
    textarea{
    box-shadow: 0 1px 5px rgba(104 ,104 ,104, 0.8);
    margin-bottom:10px;
    border:none;
    }
    placeholder{
    margin: 2px 5px
    }
    .card{
    margin-top:8rem;
    }






</style>
<body class="bg-success">
<div class="container">
    <div class="row">
        <div class="offset-4 col-md-4">
            <div class="card">
                <div class="card-body">

                    <h3 class="text-md-center"> Enter Your Email</h3><br>
                    {% if label %}
                        {% if label=='0' %}
                            <h5 style="color:green">Not Spam</h5>
                        {% else %}
                            <h5 style="color:red">Spam</h5>
                        {% endif %}
                    {% endif %}

                    <form method="POST" action="/predict">
                        <textarea rows="5" cols="35" name="email" class="textArea" placeholder="Write an Email"></textarea><br>
                        <input style="margin-left:38%" type="submit" value="predict"  class="btn-btn-block btn-lg bg-success "/>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>